.title{
  color: #fff;
}

.reservas{
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservas img{
  height: 100px;
  border-radius: 5px;
  box-shadow: 2px 4px 9px 2px #7b7b7ba6;
}

.reservas button{
  border: 0;
  background-color: #fff;
}
#amount span{
  margin-left: 15px;
  margin-right: 15px;
}

footer button{
  border: 0;
  display: flex;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
}
@media only screen and (max-width: 800px){
  .reservas{
    display: flex;
    flex-direction: column;
  }
  .reservas img{
    height: 200px;
  }
  .reservas strong {
    font-size: xx-large;
    margin-top: 10px;
  }
  .reservas span {
    font-size: large;
    margin-bottom: 15px;
  }
}